{% extends "base.html" %}

{% block msg %}
    {% if messages %}
        {% for m in messages %}
            <div {% if m.tags %} class="alert alert-{{m.tags}} alert-dismissable fade show" role='alert' {% endif %} >
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {% endfor %}
            </div>
    {% else %}
    {% endif %}
{% endblock msg %}


{% block side %}
<div class="col-sm-2 text-white my-5 text-center">
    <h4 class="my-5">Profile</h4>
    <h5>{{full_name|title}}</h5>
    {% for g in group %}
        <p>{{g.name}}</p>
    {% endfor %}
</div>
{% endblock side %}



{% block content %}
<div class="col-sm-10">
    <h3 class='text-white my-5'>Dashboard Page</h3>
    <a href="{% url 'addpost' %}" class='btn btn-success'>Add Post</a>
    <h4 class='text-center alert alert-info mt-3'>Show Post Information</h4>


    {% if post %}
    <table class="table table-hover bg-white">
        <thead>
            <tr class='text-center'>
                <th scope='col' style="width:2%">ID</th>
                <th scope='col' style="width:28%">TITLE</th>
                <th scope='col' style="width:55%">DESCRIPTION</th>
                <th scope='col' style="width:15%">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for p in post %}
                <tr>
                    <th scope='row'>{{p.id}}</th>
                    <td>{{p.title}}</td>
                    <td>{{p.desc}}</td>
                    <td class='text-center'>
                        <a href="{% url 'updatepost' p.id %}" class="btn btn-warning btn-sm">Edit</a>
                        {% if perms.blog.delete_blog %}
                        <form action="{% url 'delete' p.id %}" method="post" class='d-inline'>
                            {% csrf_token %}
                            <input type="submit" class='btn btn-danger btn-sm' value="Delete">
                        </form>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% endif %}
</div>

{% endblock content %}